body {
padding: 0;
margin: ;
}

#contenedor {
	width: 500px;
	min-height: 300px;
	background: gray;
	margin: 0 auto; 
}

#cabecera {
	height: 60px;
	background: green;
	margin-top: 40px;
}