#sprite {
	background-image: url(https://uniwebsidad.com/static/libros/imagenes/css-avanzado/f0113.png);
width: 21px;
height: 21px;
border: 1px solid gray;
background-position: -41px -11px;	
}
